{% extends 'blog/base.html' %}
{% load static %}


<html>
    <head>
        <title>L'animalerie de Didier</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
      <div class="page-header">
    <h1><a href="/">L'animalerie de Didier</a></h1>
      </div>

<div class="content container">
            {% block content %}
        {% for billet in billets %}
            <tr>
        <div class="billet">
            <th><h2>{{ billet.id_animal }}</h2></th>
            <th><p>{{ billet.etat}}</p></th>
            <th><p>{{ billet.lieu}}</p></th>
        </div>
            </tr>
             {% endfor %}
        {% endblock %}
</div>

    </body>
</html>