div { text-align: center; }

h1 a, h2 a {
    color: #000000;
}

body {
    padding-left: 0px;
}

.page-header {
    background-color: #F4A460;
    margin-top: 0;
    padding: 20px 20px 20px 50px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    font-family: Arial black, serif;
    font-style: italic;
    color: #000000;
    font-size: 36pt;
    text-decoration: none;
}


th {
    border: 0px solid rgb(255, 255, 255);
    padding: 10px 15px;
}

.td {
    text-align: center;
}

h3 {
    color: #008B8B;
}

h1, h2, h3, h4 {
     text-align: center;
 }

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.thumbnail {
    background-color: #F5DEB3;
    height : 480px;
    padding : 20px, 20px, 20px, 20px;
}

.fiche_animal {
    background-color: #F5DEB3;
    height : 450px;
    width : 100%;
}

.menu {
    background-color: #F5DEB3;
    height : 450px;
    witdh : 10%;
}